/.ipynb_checkpoints/calConDays-checkpoint.ipynb
/.idea/dictionaries
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/QuantitativeFinance.iml
/.idea/vcs.xml
*.npy
*.pkl
*.db
*.h5s
__pycache__
MPY4FI/code/token.txt
*.aux
*.log
*.synctex.gz
*.out
token
*.toc
MFPR/account.ini
